* {
    box-sizing: border-box;
}

h1 {
    font-size: 175%;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 20px;
}

.container {
    width: 100%;
    text-align: center;
}

.column {
    /*float: left;*/
    display: inline-block;
}

.menuheadings {
    margin-top: 0px;
    /*float: right;*/
    padding: 10px 40px 10px 40px;
    font-size: 125%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    position: absolute;
    right: 0px;
}

.column:after,
.menuheadings:after {
    content: '';
    display: block;
    clear: both;
}

.columncontent {
    background-color: lightslategray;
    position: relative;
    text-align: left;
}

.columncontent>p {
    padding-top: 50px;
}

#chicken {
    background-color: #d59898;
}

#beef {
    color: white;
    background-color: #c14543;
}

#sushi {
    background-color: #e5d198;
}


/*desktop*/

@media (min-width:992px) {
    .column {
        width: 31.3%;
    }
    .column:not(:first-child) {
        margin-left: 2%;
    }
}


/*tablet*/

@media (min-width:768px) and (max-width:991px) {
    .column-left {
        width: 48%;
        float: left;
    }
    .column-center {
        width: 48%;
        float: right;
    }
    .column-right {
        width: 100%;
        margin-left: 0px;
    }
}


/*mobile*/

@media (max-width:767px) {
    .column {
        width: 100%;
        margin-left: 0px;
    }
}